<link href="/assets/style.css" rel="stylesheet" type="text/css">
<html>

<div id="main-div">
    <h1>Welcome!</h1>
    <p>Create an account or login</p>
    <a href="/users/register">Register</a>
    <a href="/users/login"> Login</a>

    <img src="pexels-walid-ahmad-847402.jpg">
</div>
</html>